gradio==6.9.0
langchain==1.2.13
langchain-core==1.2.21
langchain-text-splitters==1.1.1
langchain-openai==1.1.12
langchain-chroma==1.1.0
langchain-community==0.4.1
langchain-huggingface==1.2.1
openai==2.29.0
plotly==6.6.0
pybest==2.1.0
tiktoken==0.12.0
sentence-transformers==5.3.0
