gradio
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-community
langchain-huggingface
openai
plotly
scikit-learn
tiktoken
unstructured
pdfminer.six
pi_heif
pdf2image
unstructured_pytesseract
sentence-transformers
